#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  color: white;
}

.app-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input-container {
  position: relative;
  width: 300px;
 
}

.input-container input {
  width: 80%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: none;
}

.input-container button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: #ff3c00;
  color: white;
  padding: 0 15px;
  cursor: pointer;
}

.search {
  width: 20px;
  height: 20px;
}

.loader {
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.movies-container {
  padding: 20px;
}

.movies-container h1 {
  font-weight: bold;
  font-size: 32px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}